{% extends 'common/layout.html' %}
{% load static %}
{% block content %}
    <section class="contacts-section">
        <h2>Наши работники страховой передовой</h2>
            <div class="contacts-list">
                {% for employee in employees %}
                    <div class="employee-card">
                        {% if employee.photo %}
                            <img src="{{ employee.photo.url }}" alt="{{ employee.name }} Photo" width="300" height="300" style="object-fit:cover;">
                        {% else %}
                            <img src="{% static 'images/default_profile.svg' %}" alt="Default Photo" width="300" height="300" style="object-fit: cover;">
                        {% endif %}
                        <h2><strong>{{ employee.surname }} {{ employee.name }} {{ employee.second_name }}</strong></h2><br>
                        <strong>Должность:</strong> {{ employee.job_position }}<br>
                        <strong>Возраст:</strong> {{ employee.age }}<br>
                        <strong>Адресс:</strong> {{ employee.address }}<br>
                        <strong>Номер телефона:</strong> {{ employee.phone_number }}<br>
                        <strong>Филиал:</strong> {{ employee.branch_name }}<br>
                    </div>
                {% endfor %}
            </div>
    </section>
{% endblock %}
