{% extends 'common/layout.html' %}
{% load static %}
{% load roles %}
{% block content %}
<div class="home-section">

    <div class="company-info">
        <div class="company-slogan">Твой дом вот-вот взорвется. Ты же застрохавался?</div>
        <p id="counter"></p>
        <div class="company-name">Agenda Insurance</div>
        <div class="company-slogan">Ваша защита от неожиданностей</div>
    </div>

    <div class="animation-container">
        <img src="{% static 'images/home.png' %}" class="house" alt="House">
        <img src="{% static 'images/burnt_home.png' %}" class="burnt-house" alt="Burnt House">
        <img src="{% static 'images/fire1.png' %}" class="fire1" alt="Fire 1">
        <img src="{% static 'images/fire2.png' %}" class="fire2" alt="Fire 2">
        <img src="{% static 'images/fire2.png' %}" class="fire3" alt="Fire 2">
        <img src="{% static 'images/fire1.png' %}" class="fire4" alt="Fire 1">
        <img src="{% static 'images/crying_man.png' %}" class="person sad" alt="Sad Person">
        <img src="{% static 'images/happy.png' %}" class="person happy" alt="Happy Person">
        <img src="{% static 'images/man_with_suitcase.png' %}" class="suitcase opened" alt="Opened Suitcase">
        <img src="{% static 'images/suitcase.png' %}" class="money" alt="Money">
        <img src="{% static 'images/new_house.png' %}" class="new-house" alt="New House">
        <img src="{% static 'images/logo.png' %}" class="logo" alt="Company Logo">
    </div>

     <section class="last-article-section">
        {% if news %}
            <article class="last-article">
                <div class="news-title">{{ news.title }}</div>
                <p class="news-text">{{ news.text|truncatechars:60 }}</p>
                <p class="news-publish-date">Published at: {{ news.publish_date }}</p>
                <a href="{% url 'news_details' news.id %}"><button>See details</button></a>
            </article>
        {% endif %}
    </section>

    <section id="slider">
        <div class="banner-container">
            <div class="banner active">
                <a href="{% url 'news' %}"><img src="{% static 'images/ad3.png' %}" alt="Banner 1"></a>
                <div class="caption">This is slide 1</div>
            </div>
            <div class="banner">
                <a href="{% url 'insurance_types' %}"><img src="{% static 'images/ad2.png' %}" alt="Banner 2"></a>
                <div class="caption">This is slide 2</div>
            </div>
            <div class="banner">
                <a href="{% url 'special_offers&discounts' %}"><img src="{% static 'images/ad1.png' %}" alt="Banner 3"></a>
                <div class="caption">This is slide 3</div>
            </div>
            <div class="banner">
                <a href="{% url 'faq' %}"><img src="{% static 'images/ad4.png' %}" alt="Banner 4"></a>
                <div class="caption">This is slide 4</div>
            </div>
        </div>
        <div class="slide-number"></div>
    </section>

    {% if user|is_employee or user|is_superuser %}
     <form id="banner_form">
        <label for="interval">Интервал (мс):</label>
        <input type="number" id="interval" name="interval" min="1000" step="100">

        <label for="loop">loop:</label>
        <input type="checkbox" id="loop" name="loop" checked>

        <label for="navs">navs</label>
        <input type="checkbox" id="navs" name="navs" checked/>

        <label for="pags">pags</label>
        <input type="checkbox" id="pags" name="pags" checked/>

        <label for="auto">auto</label>
        <input type="checkbox" id="auto" name="auto" checked/>

        <label for="stopMouseHover">stopMouseHover</label>
        <input type="checkbox" id="stopMouseHover" name="stopMouseHover" checked>

        <button type="submit">Сохранить изменения</button>
    </form>
    {% endif %}

    {% if user|is_employee or user|is_superuser %}
    <div id="font_form">
        <label for="fontSize">Размер шрифта: </label>
        <select id="fontSize">
            <option value="12px">12px</option>
            <option value="16px" selected>16px</option>
            <option value="20px">20px</option>
            <option value="24px">24px</option>
            <option value="28px">28px</option>
        </select>
        <br><br>

        <label for="textColor">Цвет текста:</label>
        <input type="color" id="textColor" value="#000000">
        <br><br>

        <label for="bgColor">Цвет фона страницы:</label>
        <input type="color" id="bgColor" value="#fffff">
        <br><br>

        <label for="applySettings">Применить настройки:</label>
        <input type="checkbox" id="applySettings">
    </div>
    {% endif %}

    <section class="company-video">
        <div class="video" align="center">
            <video autoplay controls src="{% static 'videos/video.mp4' %}"></video>
        </div>
    </section>

    <aside class="partners">
        <h2>Наши партнеры: </h2>
        <ul>
            <li class="partner-info">
                <a class="partner" href="https://bns.by/"><img src="{% static 'images/BNS.jpg' %}" alt="BelNeftStrach"></a>
                <span class="partner-name">BelNeftStrach</span>
            </li>
            <li class="partner-info">
                <a class="partner" href="https://asoba.by/"><img src="{% static 'images/ASOBA.jpg' %}" alt="Asoba"></a>
                <span class="partner-name">Asoba</span>
            </li>
            <li class="partner-info">
                <a class="partner" href="https://bgs.by/"><img src="{% static 'images/BGS.png' %}" alt="BelGosStrach"></a>
                <span class="partner-name">BelGosStrach</span>
            </li>
        </ul>
    </aside>

     <section class="extra-info">
        <h1 style="text-align:center;">Раздел для улучшения вашего английского</h1>
        <h2 class="setup" style="text-align:left;">{{joke.setup}}</h2>
        <h3 class="punch" style="text-align:left;font-style:italic;">- {{joke.punchline}}</h3>
        <blockquote style="text-align:center;">{{cat_facts.fact}} - {{cat_facts.length}}</blockquote>
    </section>

</div>
{% endblock %}
