{% extends 'common/layout.html' %}
{% load static %}
{% block content %}
<div class="home-section">

    <div class="company-info">
        <div class="company-name">Agenda Insurance</div>
        <div class="company-slogan">Ваша защита от неожиданностей</div>
    </div>

    <div class="animation-container">
        <img src="{% static 'images/home.png' %}" class="house" alt="House">
        <img src="{% static 'images/burnt_home.png' %}" class="burnt-house" alt="Burnt House">
        <img src="{% static 'images/fire1.png' %}" class="fire1" alt="Fire 1">
        <img src="{% static 'images/fire2.png' %}" class="fire2" alt="Fire 2">
        <img src="{% static 'images/fire2.png' %}" class="fire3" alt="Fire 2">
        <img src="{% static 'images/fire1.png' %}" class="fire4" alt="Fire 1">
        <img src="{% static 'images/crying_man.png' %}" class="person sad" alt="Sad Person">
        <img src="{% static 'images/happy.png' %}" class="person happy" alt="Happy Person">
        <img src="{% static 'images/man_with_suitcase.png' %}" class="suitcase opened" alt="Opened Suitcase">
        <img src="{% static 'images/suitcase.png' %}" class="money" alt="Money">
        <img src="{% static 'images/new_house.png' %}" class="new-house" alt="New House">
        <img src="{% static 'images/logo.png' %}" class="logo" alt="Company Logo">
    </div>

     <section class="last-article-section">
        {% if news %}
            <article class="last-article">
                <div class="news-title">{{ news.title }}</div>
                <p class="news-text">{{ news.text|truncatechars:60 }}</p>
                <p class="news-publish-date">Published at: {{ news.publish_date }}</p>
                <a href="{% url 'news_details' news.id %}"><button>See details</button></a>
            </article>
        {% endif %}
    </section>

    <section class="banner-section">
        <div class="banner-container">
            <img src="{% static 'images/ad3.png' %}" alt="Banner 1" class="banner active">
            <img src="{% static 'images/ad2.png' %}" alt="Banner 2" class="banner">
            <img src="{% static 'images/ad1.png' %}" alt="Banner 3" class="banner">
            <img src="{% static 'images/ad4.png' %}" alt="Banner 4" class="banner">
        </div>
    </section>

    <section class="company-video">
        <div class="video" align="center">
            <video autoplay controls src="{% static 'videos/video.mp4' %}"></video>
        </div>
    </section>

    <aside class="partners">
        <h2>Наши партнеры: </h2>
        <ul>
            <li class="partner-info">
                <a class="partner" href="https://bns.by/"><img src="{% static 'images/BNS.jpg' %}" alt="BelNeftStrach"></a>
                <span class="partner-name">BelNeftStrach</span>
            </li>
            <li class="partner-info">
                <a class="partner" href="https://asoba.by/"><img src="{% static 'images/ASOBA.jpg' %}" alt="Asoba"></a>
                <span class="partner-name">Asoba</span>
            </li>
            <li class="partner-info">
                <a class="partner" href="https://bgs.by/"><img src="{% static 'images/BGS.png' %}" alt="BelGosStrach"></a>
                <span class="partner-name">BelGosStrach</span>
            </li>
        </ul>
    </aside>

     <section class="extra-info">
        <h1 style="text-align:center;">Раздел для улучшения вашего английского</h1>
        <h2 class="setup" style="text-align:left;">{{joke.setup}}</h2>
        <h3 class="punch" style="text-align:left;font-style:italic;">- {{joke.punchline}}</h3>
        <blockquote style="text-align:center;">{{cat_facts.fact}} - {{cat_facts.length}}</blockquote>
    </section>

</div>
{% endblock %}
