{% extends 'common/layout.html' %}

{% block content %}
  <div class="container">
    <h1>Виды страхований</h1>
    <span>
      Виды страхования предназначены для того, чтобы помочь вам справиться с финансовыми последствиями различных жизненных ситуаций и рисков. Они предоставляют вам уверенность в завтрашнем дне и защищают от непредвиденных расходов.
    </span>

    <div class="data-manipulators">
          <form method="GET" action="" class="search-form">
            <input type="text" name="search" placeholder="По названию" value="{{ request.GET.search }}">
            <button type="submit">Найти</button>
          </form>

        <form method="GET" action="" class="sort-form">
          <select name="sort_by">
            <option value="name" {% if request.GET.sort_by == 'name' %}selected{% endif %}>по названию</option>
            <option value="percentage" {% if request.GET.sort_by == 'percentage' %}selected{% endif %}>по комиссионным</option>
            <option value="name-desc" {% if request.GET.sort_by == 'name_desc' %}selected{% endif %}>по названию по убыванию</option>
            <option value="percentage_desc" {% if request.GET.sort_by == 'percentage_desc' %}selected{% endif %}>по комиссионным по убыванию</option>
          </select>
          <button type="submit">Отсортировать</button>
        </form>
    </div>

    <div class="paginated-container">
      <div class="grid-container">
        {% if types %}
          {% for type in types %}
             <div class="grid-item">
              <div class="card-content">
                <h3>{{ type.name }}</h3>
                <p>{{ type.description }}</p>
                <p><strong>Комиссионные:</strong> {{ type.percentage }}%</p>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>Ничего не найдено</p>
        {% endif %}
      </div>
      <div id="types-pagination"></div>
    </div>
  </div>

<script>
const pagination = new Pagination('types-pagination', 3, '.grid-item');

const cards = document.querySelectorAll('.grid-item');
cards.forEach(card => {
     card.addEventListener('mousemove', e => {
       const [x, y] = [e.offsetX, e.offsetY];
       const rect = card.getBoundingClientRect();
       const [width, height] = [rect.width, rect.height];
       const middleX = width / 2;
       const middleY = height / 2;
       const offsetX = ((x - middleX) / middleX) * 25;
       const offsetY = ((y - middleY) / middleY) * 25;
       const offX = 50 + ((x - middleX) / middleX) * 25;
       const offY = 50 - ((y - middleY) / middleY) * 20;
       card.style.setProperty("--rotateX", 1 * offsetX + "deg");
       card.style.setProperty("--rotateY", -1 * offsetY + "deg");
       card.style.setProperty("--posx", offX + "%");
       card.style.setProperty("--posy", offY + "%");
       console.log('mousemoved');
      });

     card.addEventListener('mouseleave', e => {
        card.style.animation = 'reset-card 1s ease';
        card.addEventListener("animationend", e => {
          card.style.animation = 'unset';
          card.style.setProperty("--rotateX", "0deg");
          card.style.setProperty("--rotateY", "0deg");
          card.style.setProperty("--posx", "50%");
          card.style.setProperty("--posy", "50%");
          console.log('mouseleaved');
        }, { once: true });
      });
  });

</script>
{% endblock %}