{% extends 'common/layout.html' %}

{% block content %}
  <div class="container">
    <h1>Insurance Types</h1>

    <form method="GET" action="" class="search-form">
      <input type="text" name="search" placeholder="Search by name" value="{{ request.GET.search }}">
      <button type="submit">Search</button>
    </form>

    <form method="GET" action="" class="sort-form">
      <select name="sort_by">
        <option value="name" {% if request.GET.sort_by == 'name' %}selected{% endif %}>by Name</option>
        <option value="percentage" {% if request.GET.sort_by == 'percentage' %}selected{% endif %}>by Percentage</option>
        <option value="name-desc" {% if request.GET.sort_by == 'name_desc' %}selected{% endif %}>by Name desc</option>
        <option value="percentage_desc" {% if request.GET.sort_by == 'percentage_desc' %}selected{% endif %}>by Percentage Desc</option>
      </select>
      <button type="submit">Sort</button>
    </form>

    <div class="grid-container">
      {% if types %}
        {% for type in types %}
          <div class="grid-item card">
            <div class="card-content">
              <h3>{{ type.name }}</h3>
              <p>{{ type.description }}</p>
              <p><strong>Fee percentage:</strong> {{ type.percentage }}%</p>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>Cannot find anything</p>
      {% endif %}
    </div>
  </div>
{% endblock %}