{% extends 'common/layout.html' %}

{% block content %}
    {% if news %}
    <section>
        <h1>News</h1>
        <ul>
            {% for item in news %}
                 <article>
                     <div class="news-title">{{ item.title }}</div>
                     <div class="news-text">{{ item.text|truncatechars:60 }}</div>
                     <div class="news-publish-date">Published at: {{ item.publish_date }}</div>
                     <div class="news-image">
                        <img src="{{ item.image.url }}" alt="News Image" width="300" height="300">
                    </div>
                     <div class="news-published-author">Published by: {{ item.author.surname }} {{ item.author.name }} {{ item.author.second_name }}</div>
                      <a href="{% url 'news_details' item.id %}"><button>See details</button></a>
                </article>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
{% endblock %}