{% extends 'common/layout.html' %}

{% block content %}
    <section>
        <h1>News</h1>
        <div class="news-list">
            {% for item in news %}
            <div class="news-item">
                <div class="news-image">
                    <img src="{{ item.image.url }}" alt="{{ item.title }}">
                </div>
                <div class="news-content">
                    <h2>{{ item.title }}</h2>
                    <p class="news-summary">{{ item.text|truncatechars:100 }}</p>
                    <a href="{% url 'news_details' item.id %}" class="read-more-btn">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
