{% extends 'common/layout.html' %}

{% block content %}
<section class="privacy">
    <h1>Политика конфиденциальности</h1>

        <h2>Якоря для быстрой навигации</h2>
    <p>Перейти к:
        <ul>
            <li><a href="#collected-data">Собираемая информация</a></li>
            <li><a href="#usage-data">Использование информации</a></li>
            <li><a href="#protection">Защита информации</a></li>
            <li><a href="#consent">Согласие</a></li>
            <li><a href="#source-code">Часть кода</a></li>
            <li><a href="#additional-info">Доп. информация</a></li>
            <li><a href="#inputs-section">Интерактивные элементы</a></li>
        </ul>
    </p>

    <p>Мы, страховая компания <strong><i>Agenda Insurance</i></strong>, ценим вашу конфиденциальность и стремимся обеспечить безопасность ваших личных данных.
        В этой <strong>политике конфиденциальности</strong> мы объясняем, какие данные мы собираем, как мы их используем и защищаем.
    </p>

    <h2 id="collected-data">Собираемая нами информация</h2>
    <p>Мы собираем следующую информацию:</p>
    <ul>
        <li><strong>Имя, фамилия</strong> и контактные данные</li>
        <li>Информация о вашей <em>страховой истории</em></li>
        <li>Номер кредитной карты, кредитная история и тип крови</li>
        <li>Другие данные, которые вы предоставляете нам при заполнении форм и обращении к нам</li>
    </ul>

    <h2 id="usage-data">Использование информации</h2>
    <p>Мы используем собранную информацию для:</p>
    <ul>
        <li>Обработки ваших <strong>страховых заявок</strong></li>
        <li>Предоставления необходимых услуг и консультаций</li>
        <li><em>Улучшения наших продуктов и услуг</em></li>
        <li><del>В личных некоммерческих целях</del></li>
    </ul>

    <h2 id="protection">Защита информации</h2>
    <p>Мы принимаем меры для <strong>защиты вашей информации</strong> от несанкционированного доступа, использования или раскрытия. Применяются соответствующие <em>технические и организационные меры безопасности</em>.</p>

    <h2 id="consent">Согласие</h2>
    <p>Используя нашу компанию и предоставляя нам свою информацию, вы соглашаетесь с условиями нашей <strong>политики конфиденциальности</strong>.</p>

    <h2>Контактная информация</h2>
    <p>Если у вас возникнут вопросы или требуется <em>дополнительная информация</em>, свяжитесь с нами через контактные данные на сайте.</p>

    <hr>
        <h2 id="source-code">Часть нашего исходного кода:</h2>
        <pre>
            if(your_mood.IsBad):
                print('Все будет хорошо')
        </pre>

        <h2>Цитаты и блоки</h2>
        <p>Как сказал наш лучший сотрудник:</p>
        <blockquote>
            <q>Девушки как макароны, когда мокрые — не ломаются.</q><br> — @JSON Стейтем
        </blockquote>

        <h2 id="additional-info">Дополнительная информация</h2>
        <p>Мы не любим аббревиатуры, но <abbr title="Agenda Calendar">AG</abbr>.</p>
        <p>Время работы: с <time datetime="20:00">20:00</time> до <time datetime="21:11">21:11</time>.</p>
    <hr>
</section>
{% endblock %}
