{% extends 'common/layout.html' %}

{% block content %}
    {% if reviews %}
        <ul>
           {% for review in reviews %}
               <li class="review-item">
                    <div class="text" >{{ review.text }}</div>
                    <div class="author_info">{{ review.author.surname }} {{ review.author.name }} {{ review.author.second_name }}</div>
                    <div class="rate">Rate: {{ review.rating }}</div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'create_review' %}"><button>Send feedback</button></a>
{% endblock %}