<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>AgendaInsurance</title>
    {% load roles %}
    {% load static %}
</head>
<body>
    <header>
        <h1>Agenda Insurance</h1>
        <nav>
            <div class="buttons">
            <a href="{% url 'home' %}"><button>Home</button></a>
            <a href="{% url 'news' %}"><button>News</button></a>
            <a href="{% url 'contacts' %}"><button>Contacts</button></a>
            <a href="{% url 'about_company' %}"><button>About company</button></a>
            <a href="{% url 'faq' %}"><button>FAQ</button></a>
            <a href="{% url 'special_offers&discounts' %}"><button>Special offers</button></a>
            <a href="{% url 'reviews' %}"><button>Our customers about us</button></a>
            <a href="{% url 'vacancies' %}"><button>Vacancies</button></a>

            {% if user.is_authenticated %}
                {% if user|is_employee %}
                    <a href="{% url 'logout' %}"><button>Logout</button></a>
                    <a href="{% url 'employee_profile_view' %}"><button>Account</button></a>
                {% elif user|is_user %}
                    <a href="{% url 'logout' %}"><button>Logout</button></a>
                    <a href="{% url 'user_profile_view' %}"><button>Account</button></a>
                {% elif user|is_superuser %}
                    <a href="{% url 'logout' %}"><button>Logout</button></a>
                    <a href="{% url 'superuser_extra_view' %}"><button>Statistics</button></a>
                {% else %}
                    <a href="{% url 'logout' %}"><button>Logout</button></a>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}"><button>Log in</button></a>
                <a href="{% url 'signin' %}"><button>Sign up</button></a>
            {% endif %}

            <p style="display: inline-block;">Current Date and Time: {{ request.current_datetime }}</p>
            <p style="display: inline-block;">Current user time zone: {{ request.current_timezone }}</p>
        </div>
        </nav>
        <div class="additional_info">
            <table class="calendar" style="display: inline-block;">
                {% for row in request.text_calendar %}
                    <tr>
                        {% for cell in row.split %}
                            {% if cell %}
                                <td>{{ cell }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
