{% extends 'common/layout.html' %}
{% load static %}
{% block content %}
<div>
  <h1>Введите данные студентов</h1>
  <form class="form" action="process" id="studentsForm" method="POST">
    {% csrf_token %}
    <div id="students">
      <div class="student">
        <label>Фамилия: <input id="surname" type="text" name="students[0][surname]" maxlength="12" required></label><br>
        <label>Имя: <input id="name" type="text" name="students[0][name]" maxlength="12" required></label><br>
        <label>Отчество: <input id="second_name" type="text" name="students[0][patronymic]" maxlength="12" required></label><br>
        <label>Пол:
          <select id="sex" name="students[0][gender]" required>
            <option value="М">М</option>
            <option value="Ж">Ж</option>
          </select>
        </label><br>
        <label>Возраст: <input id="age" type="number" name="students[0][age]" min="16" max="35" required></label><br>
        <label>Курс: <input id="course" type="number" name="students[0][course]" min="1" max="5" required></label><br><br>
      </div>
    </div>
    <div id="top-course"></div>
    <button type="button" onclick="addStudent()">Добавить студента</button><br><br>
    <input type="button" onclick="calculate()" value="Отправить данные">
  </form>
  <script src="{% static 'js/site.js' %}"></script>

  <h1>Введите размер таблицы, максимальное и минимальное значение</h1>
  <label>Столбцы: <input id="rows" type="number" required></label><br>
  <label>Колонки: <input id="cols" type="number" required></label><br><br>
  <label>Минимальное число: <input id="min" type="number" required></label><br><br>
  <label>Максимальное число: <input id="max" type="number" required></label><br><br>
  <label>Максимально количество выделенных ячеек: <input id="num" type="number"></label>
  <label>Можно выделить соседей слева и справа: <input id="can" type="checkbox"></label>
  <button type="button" onclick="generateTable()">Создать таблицу</button><br><br>
  <button type="button" onclick="transposeTable()">Транспонировать</button>
  <button type="button" onclick="addNewColumn()">Колонка++</button>
  <button type="button" onclick="addNewRow()">Столбец++</button>

  <div id="table-container"></div>
</div>
{% endblock %}