{% extends 'common/layout.html' %}
{% load static %}
{% block content %}
<div class="statistics">
    <h1>Статистика компании</h1>
    <div class="sales_statistics">
        <table>
            <tr>
                <p>Средняя сумма продаж : {{ sales_statistics.avg_sales }}</p>
            </tr>
            <tr>
                <p>Итого по выручке: {{ sales_statistics.total_sales }}</p>
            </tr>
            <tr>
                <p>Выручка компании: {{ total_sales }} </p>
            </tr>
            <tr>
                <p>Наиболее популярный тарифф страхования: {{ most_popular_insurance.insurance_type__name }} - Всего: {{ most_popular_insurance.total_sum }} </p>
            </tr>
            <tr>
                <p>Статистика клиентов: Средний возраст клиента {{ clients_age_statistics.avg_age }}, медианный возраст клиента {{ clients_age_statistics.median_age }}</p>
            </tr>
        </table>
    </div>
    {% if agents %}
        <div class="agent_stats">
            <h2>Статистика по работникам</h2>
           <table>
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Всего заключено контрактов</th>
                    <th>Принес выручки</th>
                    <th>Средняя по продажам</th>
                    <th>Зарплата</th>
                </tr>
            </thead>
            <tbody>
                {% for agent in agents %}
                    <tr>
                        <td>{{ agent.surname }} {{ agent.name }} {{ agent.second_name }}</td>
                        <td>{{ agent.total_contracts }}</td>
                        {% if agent.total_sales %}
                            <td>{{ agent.total_sales }}</td>
                        {% else %}
                            <td> - </td>
                        {% endif %}
                        {% if agent.average_sale %}
                            <td>{{ agent.average_sale }}</td>
                        {% else %}
                            <td> - </td>
                        {% endif %}
                        {% if agent.salary %}
                            <td>{{ agent.salary }}</td>
                        {% else %}
                            <td> -</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    {% endif %}
    <div class="chart-section">
        <h2>Статистика графическая: </h2>
        <div class="chart-container">
            <div class="chart-item">
                <div id="chart_div">{{ chart_div|safe }}</div>
                <div class="chart-caption">Продажи по годам</div>
            </div>
            <div class="chart-item">
                <div id="client_age_chart_div">{{ client_age_chart|safe }}</div>
                <div class="chart-caption">Возраст клиентов</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}