<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create branch</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите название филиала</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Введите адресс</label><br>
            <input type="text" name="address" />
        </p>
        <p>
            <label>Введите номер телефона</label><br>
            <input type="text" name="phone_number" />
        </p>

        <input type="submit" value="Сохранить" >
    </form>
</body>
</html>