{% extends 'common/layout.html' %}
{% load static %}
{% block content %}
<div class="profile">
    <h1>Личный кабинет администратора AgendaInsurance</h1>
    <h2>Добро пожаловать, {{ user }} {{ user.surname }} {{ user.name }} {{ user.second_name }}</h2>

    <a href="/accounts/superuser_profile/statistics/" class="btn primary">Просмотреть статистику компании</a>

    <div class="section">
        <h1>Филиалы компаний: </h1>
        {% if branches %}
        <summary>
            <details class="branch-list">
                <ul class="branch-list">
                {% for branch in branches %}
                    <li class="branch-item">
                        <strong>Адресс:</strong> {{ branch.address }}<br>
                        <strong>Имя филиала:</strong> {{ branch.name }}<br>
                        <strong>Номер телефона:</strong> {{ branch.phone_number }}<br>
                        {% if branch.agents %}
                            <hr/>
                            <p><strong>Список сотрудников:</strong></p>
                            <ul class="agent-list">
                                {% for agent in branch.agents %}
                                    <li class="agent-item">{{ agent.surname }} {{ agent.name }} {{ agent.second_name }}</li>
                                    <a href="/employee/details/{{ agent.id }}" class="btn">See details</a>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            </details>
        </summary>
        {% endif %}
    </div>

    <div class="section">
        <h1>Текущие сделки</h1>
        {% if contracts %}
            <summary>
                <details>
                     <ul class="contract-list">
                        {% for contract in contracts %}
                            <li class="contract-item">
                                <strong>Тип страхования:</strong> {{ contract.insurance_type.name }}<br>
                                <strong>Ставка:</strong> {{ contract.tariff_rate }}<br>
                                <strong>Дата заключения:</strong> {{ contract.date }}<br>
                                <strong>Имя филиала:</strong> {{ contract.branch_name }}<br>
                                <strong>Страховой объект:</strong> {{ contract.insurance_object.name }}<br>
                                <strong>Страховая сумма:</strong> {{ contract.insurance_sum }}<br>
                                <strong>ФИО Клиента:</strong> {{ contract.client.surname }} {{ contract.client.name }} {{ contract.client.second_name }}<br>
                                <strong>ФИО Агента:</strong> {{ contract.agent.surname }} {{ contract.agent.name }} {{ contract.agent.second_name }}<br>
                            </li>
                        {% endfor %}
                    </ul>
                </details>
            </summary>
        {% endif %}
    </div>

    <div class="section">
        <h1>Статистика страхового агента</h1>
        {% if agents_details %}
        <summary>
            <details>
                  <ul class="agent-stats-list">
                    {% for agent in agents_details %}
                        <li class="agent-stats-item">
                            <strong>ФИО Агента :</strong> {{ agent.surname }} {{ agent.name }} {{ agent.second_name }}<br>
                            <strong>Ставка:</strong> {{ contract.tariff_rate }}<br>
                            <strong>Дата заключения контракта:</strong> {{ contract.date }}<br>
                            <strong>Имя филиала:</strong> {{ agent.branch_name }}<br>
                            <strong>Страховой объект:</strong> {{ contract.insurance_object.name }}<br>
                            <strong>Страховая сумма:</strong> {{ contract.insurance_sum }}<br>
                            <strong>Доход:</strong> {{ agent.salary }} <br>
                        </li>
                    {% endfor %}
                </ul>
            </details>
        </summary>
        {% endif %}
    </div>

    <div class="section">
        <h1>Виды страхований: </h1>
        {% if insurance_types %}
        <summary>
            <details>
                <ul class="insurance-type-list">
                    {% for type in insurance_types %}
                        <li class="insurance-type-item">
                            <strong>Тип страхования:</strong> {{ type.name }}<br>
                            <strong>Тарифная ставка:</strong> {{ type.percentage }}<br>
                            <strong>Описание тарифа:</strong> {{ type.description }}<br>
                        </li>
                    {% endfor %}
                </ul>
            </details>
        </summary>
        {% endif %}
    </div>
</div>
{% endblock %}
